%p#notice= notice

%h1
  Elements of section
  = @section.name
  = link_to '', new_section_section_element_path(@section), class: "glyphicon glyphicon-plus"

- if @section.section_elements.count == 0
  %span No section elements. Add one.
- else  
  %table.table.table-bordered
    %tr
      %th Title
      %th Content
      %th Action
    - @section.section_elements.each do |element|
      %tr
        %td= element.title
        %td= truncate element.content.html_safe, length: 90, :escape => false
        %td
          - if element.visibility
            = link_to '', change_visibility_section_section_element_path(@section,element), class: "glyphicon glyphicon-eye-close"
          - else
            = link_to '', change_visibility_section_section_element_path(@section,element), class: "glyphicon glyphicon-eye-open"
          = link_to '', edit_section_section_element_path(@section,element), class: "glyphicon glyphicon-pencil", 'data-no-turbolink' => true
          = link_to '', section_section_element_path(@section,element), class: "glyphicon glyphicon-trash", method: :delete, data: { confirm: 'Are you sure?' }


= link_to 'Back', sections_path
