%p#notice= notice

%h1 
  Links
  = link_to '', new_link_path, class: "glyphicon glyphicon-plus"
- if @links.count == 0
  %span No section elements. Add one.
- else   
  %table.table.table-bordered
    %thead
      %tr
        %th Name
        %th URL
        %th Actions
      - @links.each do |link|
        %tr
          %td= link.name
          %td= link.url
          %td
            - if link.visibility
              = link_to '', change_visibility_link_path(link), class: "glyphicon glyphicon-eye-close"
            - else
              = link_to '', change_visibility_link_path(link), class: "glyphicon glyphicon-eye-open"
            = link_to '', edit_link_path(link),class: "glyphicon glyphicon-pencil"
            = link_to '', link, class: "glyphicon glyphicon-trash", :method => :delete, :data => { :confirm => 'Are you sure?' }


