= form_for([@section, @section.section_elements.build]) do |f|

  .form-group
    = f.label :title
    = f.text_field :title, :class => "form-control"
  .form-group
    = f.label :content
    = f.text_area :content, :class => "form-control", :id => "wysiwyg"
  .form-group
    = f.label :section
    = f.select :section_id, @sections, :class => "form-control", prompt: "Select section"
  .form-group
    = f.label :visibility
    = f.check_box :visibility
  .form-group
    = f.submit 'Save', :class => "btn btn-default"
