= form_for @section_element do |f|
  - if @section_element.errors.any?
    #error_explanation
      %h2= "#{pluralize(@section_element.errors.count, "error")} prohibited this section_element from being saved:"
      %ul
        - @section_element.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title
    = f.text_field :title, :class => "form-control"
  .form-group
    = f.label :content
    = f.text_area :content, :class => "form-control"
  .form-group
    = f.label :section
    = f.select :section, @sections, :class => "form-control"
  .form-group
    = f.submit 'Save'
