%h1 Listing section_elements

%table
  %thead
    %tr
      %th Title
      %th Content
      %th Section
      %th
      %th
      %th

  %tbody
    - @section_elements.each do |section_element|
      %tr
        %td= section_element.title
        %td= section_element.content
        %td= section_element.section.name
        %td= link_to 'Show', section_element
        %td= link_to 'Edit', edit_section_element_path(section_element)
        %td= link_to 'Destroy', section_element, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Section element', new_section_element_path
