!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AktisCMS
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-inverse.navbar-static-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => "#main-nav", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Brand', root_path, class: "navbar-brand"

        #main-nav.collapse.navbar-collapse
          %ul{:class => "nav navbar-nav"}
            %li= link_to 'Menu Builder', links_path
            - @visible_links.each do |link|
              %li= link_to link.name, link.url

    .container
      = yield
